*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: o;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    
}


ul li {
    list-style: none;     

}

.tittle{
    color: #0058aa;
    font-size: 1.6rem;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center
}   


.cover{
    content: "";
    padding: 2rem 1rem  12rem;
    background-color:#0058aa;
}



header ul{
    display: flex;            
    list-style: none;          
    gap: 3rem;
    align-items: center;
    justify-content: center;


}


header nav ul li a{
    

    text-decoration: none;
    color: white;
    font-weight: 500;
}





.profile-pic{
   
    margin-top: -6rem;
    border-radius: 50%;
    border: white 4px solid;
    width: 20%;

}

.description{
    text-align: center;
    font-size: 1.2rem;
}




.skills{
    
    margin-top: 2rem;
    background: #fefefe;

    
}

.skills ul {
    margin:  0 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    

}


.skills ul li {
    width: 50%;
    -webkit-box-shadow: -2px 1px 18px 2px rgba(0,0,0,0.33); 
    box-shadow: -2px 1px 18px 2px rgba(0,0,0,0.20);
    padding: 2rem;
    border-radius: 15px;
}

.skills ul li em {
    color: #0058aa;
}

.container a {
    align-items: center;
    justify-content: center;
}
.nng{ 
    width: 40%;
    align-self: center  ;
}