*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: o;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: #eeeeee;
    
}


ul li {
    list-style: none;     

}

.tittle{
    color: #0058aa;
    font-size: 1.6rem;
    margin-top: 2.5rem;
    margin-bottom: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center
}   


.cover{
    content: "";
    padding: 2rem 1rem  4rem;
    background-color:#0058aa;
}



header ul{
    display: flex;            
    list-style: none;          
    gap: 3rem;
    align-items: center;
    justify-content: center;


}


header nav ul li a{
    

    text-decoration: none;
    color: white;
    font-weight: 500;
}

.name{
    color: white;
    text-align: center;
    margin-top: 6rem;
}

.hero{
    display: flex;
    width: 80%;
    margin: auto;
}




.profile-pic{
   
    margin-top: -6rem;
    border-radius: 50%;
    border: white 4px solid;
    width: 20%;

}

.description{
    text-align: left;
    font-size: 1.2rem;
    width: 60%;
    margin-left: 3rem;
    margin-top: 1.5rem;
}




.cards-container{
    margin: 0 16rem;
    padding-top: 0;
    
    
}

.row{ display: -ms-flexbox; /* IE10 */
    display: flex;
    justify-content: center;
}

.lst-row{
    margin: 0 6rem;
}


  
.card{
  -ms-flex: 50%; /* IE10 */
  flex: 0 1 auto;
  margin: 30px;
  color: #0058aa;
  width: 50%;
  -webkit-box-shadow: -2px 1px 18px 2px rgba(0,0,0,0.33); 
  box-shadow: -2px 1px 18px 2px rgba(0,0,0,0.20);
  padding: 2rem;
  border-radius: 15px;
}

.odd-card{
    background-color: #0058aa;
    color:white;

} 

    

.nng{ 
    margin-top: 1.4rem;
    
    width: 240px;
 
}